.body{
    background-image: url('./pic/background0.jpg');
    background-size: cover;
    height:700px;
    position:relative;
    .form{
        background-color: white;padding:50px 20px 50px 0px;width:400px;
        position:absolute;top:150px;right:150px;border-radius: 5px;
    }
    .registerForm{
        background-color: white;padding:50px 20px 50px 0px;width:400px;
        position:absolute;top:50px;right:150px;border-radius: 5px;
    }
}
