.body{
    background-image: url('./pic/background0.jpg');
    background-size: cover;
    margin-top:100px;
    height:600px;
    position:relative;
    .form{
        background-color: white;padding:50px 20px 50px 0px;
        position:absolute;top:100px;right:50px;border-radius: 5px;
    }
}
